---
import type { Props } from "@astrojs/starlight/props";
// @ts-ignore
import config from "virtual:starlight/user-config";
import { Image } from "astro:assets";
import VaultIcon from "../../assets/main-vault-icon.png";

import {
  LanguageSelect,
  Search,
  SiteTitle,
  SocialIcons,
  ThemeSelect,
  MobileMenuToggle,
  // @ts-ignore
} from "virtual:starlight/components";
import LogoWrapper from "./LogoWrapper.svelte";
// import MobileMenuToggle from "./MobileMenuToggle.astro";
---

<div
  id="header-neu"
  class="sticky top-0 bg-base-100 p-2 grid grid-cols-3 w-full items-center z-50"
>
  <div class="flex flex-row">
    <a href="/" class="inline h-12 items-center no-underline">
      <div class="flex flex-row items-center gap-4">
        <Image src={VaultIcon} alt="" class="w-10 h-12" />
        <h1 class="text-base-content text-3xl whitespace-nowrap">ChunkVault</h1>
      </div>
    </a>
  </div>
  <div
    class="card justify-self-end md:justify-self-center col-start-3 md:col-start-2 w-14 md:w-[275px] justify-center"
  >
    <Search {...Astro.props} />
  </div>
  <div class="grid grid-cols-3 w-full">
    <div class="hidden md:flex col-start-3 justify-self-end gap-4">
      <div class="flex flex-row gap-4 items-center">
        <SocialIcons {...Astro.props} />
      </div>
      <ThemeSelect {...Astro.props} />
      <LanguageSelect {...Astro.props} />
    </div>
  </div>
</div>
