---
import type { Props } from "@astrojs/starlight/props";
// @ts-ignore
import config from "virtual:starlight/user-config";
import { Image } from "astro:assets";
import VaultIcon from "../../assets/vault-icon.png";

import {
  LanguageSelect,
  Search,
  SiteTitle,
  SocialIcons,
  ThemeSelect,
  // @ts-ignore
} from "virtual:starlight/components";
import LogoWrapper from "./LogoWrapper.svelte";
---

<div class="card bg-base-100 p-2 grid grid-cols-3 w-full items-center z-50">
  <div class="flex flex-row">
    <a href="/" class="inline h-12 items-center no-underline">
      <!-- <LogoWrapper client:only>
				<Image src={ChunkVaultLogoLight} alt="" slot="dark" class="h-12 w-60" />
				<Image src={ChunkVaultLogoDark} alt="" slot="light" class="h-12 w-60" />
			</LogoWrapper> -->

      <div class="flex flex-row items-center gap-4">
        <Image src={VaultIcon} alt="" class="w-10 h-12" />
        <h1 class="text-base-content text-3xl whitespace-nowrap">ChunkVault</h1>
      </div>
    </a>
  </div>
  <div class="sl-flex">
    <Search {...Astro.props} />
  </div>
  <div class="sl-hidden md:sl-flex justify-self-end gap-4">
    <div class="flex flex-row gap-4 items-center">
      <SocialIcons {...Astro.props} />
    </div>
    <ThemeSelect {...Astro.props} />
    <LanguageSelect {...Astro.props} />
  </div>
</div>
