---
import type { Props } from "@astrojs/starlight/props";

// @ts-ignore
import { MobileMenuFooter } from "virtual:starlight/components";

import SidebarSublist from "./SidebarSublist.astro";

const { sidebar } = Astro.props;
---

<SidebarSublist sublist={sidebar} />
<div id="movbile-menu" class="md:hidden">
  <MobileMenuFooter {...Astro.props} />
</div>
